{% extends 'base.html' %}
{% block content %}
{% block title %}
News Articles
{% endblock %}
<h1>News Articles</h1>
<ul>
    {% for article in articles %}
    {% if user.is_authenticated and article.pk %}
        {% if perms.News.view_article %}
            <li>
                <a href="{% url 'view_article' article.pk %}">
                View: {{ article.headline|truncatechars:50 }}
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% empty %}
    <li>No articles available.</li>
    {% endfor %}
</ul>
<a href="{% url 'create_article' %}">Create New Article</a>

{% endblock %}